<nav class="navbar navbar-action navbar-fixed-bottom p-">
	
	<%= link_to("Back", "#{link_back}", class: "btn btn-blue-2 color-white pull-left") %>

	<div class="pull-right">
	  	<div class="clearfix">
	  		<p class="color-white pull-left mr"><%= text %> <br><%= text2 %></p>
	  		<%= link_to("Continue", "#{link}", class: "btn btn-default color-blue-2 pull-right") %>
	  	</div>
	</div>

</nav>