<div class="animated bounceInLeft">
	<div class="loading">
		<div class="loading__dot"></div>
		<div class="loading__line"></div>
		<div class="loading__mask"></div>
	</div>
	<p class="animated bounceInLeft text-center text-condensed mt color-grey-light">Saving</p>
</div>

