/*!
	*speedometer.css
	*author: Manivannan R
	*project: Speedometer
*/

#patents-meter {
	display: none;
}

.number-of-patents {
	margin-top: -80px;
	margin-bottom: 50px;
	margin-left: 20px;
	margin-right: 20px;
	padding-left: 30px;
	padding-right: 20px;
	padding-bottom: 20px;
	font-weight: lighter;
	border-bottom: solid 1px #506270;

	&__number {
		font-size: 40px;
		color: #fff;
		float: left;
		line-height: 1.2;
		margin-right: 10px;
	}
	p {
		color:#fff;
	}
}

.envelope {
	// background:#0F0F0F;
	position: relative;
	margin: auto;
	// box-shadow: inset 0 0 5px 5px #000;
	// -webkit-box-shadow: inset 0 0 5px 5px #000;
	// -o-box-shadow: inset 0 0 5px 5px #000;
	// -moz-box-shadow: inset 0 0 5px 5px #000;
	
	background: url("../images/speedometer.png") no-repeat;
	background-size: contain;

	border-radius:50%;
	-webkit-border-radius:50%;
	-o-border-radius:50%;
	-moz-border-radius:50%;
}
.speedNobe{
	position:absolute;
	width:100%;
	z-index:10;	
	transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	-moz-transition: all 1s;	
}
.speedPosition {
	position: absolute;
	color: #FFF;
	text-align: center;
	line-height: 80px;
	font-size: 30px;
	border-radius: 50%;
	background: rgba(255,255,255,0.28);
	&:before {
		content:"";
		display: block;
		width: 50px;
		height: 50px;
		background: #fff;
		border-radius: 50%;
		position: absolute;
		left: 15px;
		top: 15px;
	}
}

.fonts
{
	font-family:arial;
	font-weight:bold;
	width:100%;
	text-align:center;
}

.speedNobe div{
	background: linear-gradient(to left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	position: absolute;
	height: 100%;
	top: 0;
	&:before {
		content:"";
		display: block;
		width: 15px;
		height: 15px;
		border: solid 3px #fff;
		border-radius: 50%;
		position: absolute;
		left: -20px;
		top: -5px;
	}
}
.numb,.nob{
	display: none;
	transition: opacity 1s;
	-webkit-transition: opacity 1s;
	-o-transition: opacity 1s;
	-moz-transition: opacity 1s;	
	position: absolute;
	opacity: 0.5;
}
.nob{
	
	background:#eee;
	box-shadow: 0 0 2px 1px #eee;
	-webkit-box-shadow: 0 0 2px 1px #eee;
	-moz-box-shadow: 0 0 2px 1px #eee;
	-o-box-shadow: 0 0 2px 1px #eee;
}
.numb{
	
	color:#eee;
	text-align: left;
	overflow: hidden;
	opacity: 0.5;
	font-family: arial;
	font-size: 16px;
	font-weight: bold;
}
.nob.bright{
	opacity: 1;
}
.nob.danger{
	background:#FF113A;
	box-shadow: 0 0 2px 1px #FF113A;
	-webkit-box-shadow: 0 0 2px 1px #FF113A;
	-moz-box-shadow: 0 0 2px 1px #FF113A;
	-o-box-shadow: 0 0 2px 1px #FF113A;
}
.numb.bright{
	opacity: 1;
}
.numb.danger{
	color: #FF113A;
}