
// big fat title
.main-title {
	text-transform: uppercase;
	color: $blue;
	font-size: 55px;
	font-weight: 300;
}

// overide bootstrap
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, label {
	font-weight: 300;
	margin: 0;
}

a {
	text-decoration: none !important;
}