// overide bootstrap
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, label, p {
	margin: 0;
}

.fa-1 {
	font-size: 1em;
}
.fa-2 {
	font-size: 2em;
}
.fa-3 {
	font-size: 3em;
}

.color-white {
	color: #fff;
}