.df{display: flex;}
.flex-row{flex-direction:row;}
.flex-column{flex-direction:column;}
.fw-w{flex-wrap:wrap;}
.f-1-0-auto{flex: 1 0 auto;}
.f-0-1-auto{flex:0 1 auto;}

.jc-fe{justify-content:flex-end;}
.jc-c{justify-content:center;}
.jc-sb{justify-content:space-between;}
.jc-sa{justify-content:space-around;}

.at-c{align-items: center;}