
// BOOTSTRAP'S NAVIGATION OVERIDE 
.navbar {
}
.navbar-nav > li > .dropdown-menu {
    width: 100%;
}

.dropdown-item {
  color: $blue-dark;
  margin-bottom: 10px;
  display: block;
}

.navbar-primary{
  background: #FFFFFF;
  height: 63px;
  border-bottom: solid 2px $light;

  .navbar-brand {
    padding-top: 20px;
    color: $grey;
    height: auto;
    font-weight: 700;
  }
  .nav-link {
    text-transform: uppercase;
    color: $grey;
    font-weight: 300;
    border-right: solid 1px $light;
    &:hover {
      color: $blue;
    }
    &:active, &:focus {
      color: $blue-2;
    }
    &:hover, &:active, &:focus {
      background: linear-gradient(#fff, #EBEFF1);
    }
  }

} 

.navbar-secondary {
  background: #FFFFFF;
  border-bottom: none;
  position: relative;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.10);

  &:before {
    content: "";
    display: block;
    background: $blue;
    width: 50%;
    height: 3px;
    position: absolute;
    bottom: -2px;
    left: 0px;
    .home & {
      display: none;
    }
  }
  .navbar-nav {
    margin-bottom: -7px;
    background: linear-gradient(to bottom, white 0%, #fffcfc 96%, #d6d9db 97%, #E7EBEC 100%);
    position: relative;
  }
  .nav-link {
    font-size: 18px;
    font-weight: bold;
    margin-right: 60px;
    color: $grey;
    .ionicons {
      display: inline-block;
      margin-left: 8px;
      color: $blue;
    }
    &:hover, &:active, &:focus {
      background: transparent;
      cursor: default;
    }
  }
  .nav-item {
    position: static;
    &.active ~ .nav-item {
      .nav-link {
        color: $grey-light;
        .ionicons {
          display: none;
        }
      }
    }
  }


  .nav-item.active .nav-link {
    color: $blue;
    position: static;

    &:before {
      content: "";
      display: block;
      background: $blue;
      height: 3px;
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 236px;
      .definition & {
        width: 50px;
      }
      .sun-diagram & {
        width: 390px;
      }
      .export & {
        width: 560px;
      }
    }
    &:after {
      content: "";
      display: block;
      background: #fff;
      border: solid 3px $blue;  
      border-radius: 50%;
      width: 12px;
      height: 12px;
      position: absolute;
      bottom: -5px;
      left: 236px;
      .definition & {
        left: 50px;
      }
      .sun-diagram & {
        left: 390px;
      }
      .export & {
        left: 560px;
      }
    }
    .ionicons {
      display: none;
    }
  }
}

.navbar-action {
  background: $blue-2;
  border-bottom: none;
  p {
    font-size: 14px;
  }
}
.navbar-action-secondary {
  background: #fff;
  bottom:59px;
  height: 70px;
  border-bottom: none;
  box-shadow: 0 -2px 0 0 rgba(0,0,0,0.05);
}
