<%= partial "partials/second-nav" %>

<div class="container mt mb+">
    <div class="row">
      <div class="col-sm-9">
        <ul class="breadcrumbs">
          <li>Sélection</li>
          <li>Categorizarion</li>
          <li>Extraction</li>
          <li>Contradictions</li>
          <li>Business Drivers</li>
          <li class="active">Evaluation criteria</li>
          <li class="next">Evaluation</li>
        </ul>
        <p class="text-left text-italic color-grey text-light mt-">Define your evaluation criteria and group them by Business Drivers</p>
      </div>
      <div class="col-sm-3">
          <%= partial "partials/progress", :locals => { :percentage => "70", :step_name => "Patent analysis" } %>
      </div>
  </div>
</div>

<div class="container mb+ pb+">
  <div class="row df">
    <div class="col-sm-8 pr0">
      <div class="card p card--separator">
        <h1 class="mt">5 Business drivers</h1>
      </div>
      
        <div class="card card--separator p">
          <div class="pl pr">
            
            <h3 class="text-bold h4 mb color-blue-dark">Operating effort</h3>

            <div class="drop-area p clearfix">
              <% for i in 0..2 do %>
                <span class="label label-default pull-left mr- mb- df at-c">
                  <i class="ionicons ion-pricetag color-grey-light mr- font-14 pull-left"></i>
                  <span class="label__text">LER Pawl on excentric + 2nd pawl</span>
                  <i class="ionicons ion-android-close pull-right color-grey-light font-14 ml"></i>
                </span>
              <% end %>
            </div>
            
            
          </div>
        </div>

        <div class="card card--separator p">
          <div class="pl pr">
            
            <h3 class="text-bold h4 mb color-blue-dark">Noise</h3>

            <div class="drop-area p clearfix">
              <% for i in 0..2 do %>
                <span class="label label-default pull-left mr- mb- df at-c">
                  <i class="ionicons ion-pricetag color-grey-light mr- font-14 pull-left"></i>
                  <span class="label__text">LER Pawl on excentric + 2nd pawl</span>
                  <i class="ionicons ion-android-close pull-right color-grey-light font-14 ml"></i>
                </span>
              <% end %>
            </div>
            
            
          </div>
        </div>

        <div class="card card--separator p">
          <div class="pl pr">
            
            <h3 class="text-bold h4 mb color-blue-dark">Product cost</h3>

            <div class="drop-area p clearfix">
              
            </div>
            
            
          </div>
        </div>

        <div class="card card--separator p">
          <div class="pl pr">
            
            <h3 class="text-bold h4 mb color-blue-dark">Fail safe</h3>

            <div class="drop-area p clearfix">
              
            </div>
            
            
          </div>
        </div>

        <div class="card card--separator p">
          <div class="pl pr">
            
            <h3 class="text-bold h4 mb color-blue-dark">Space Roominess</h3>

            <div class="drop-area p clearfix">
              
            </div>
            
            
          </div>
        </div>
      

    </div>
    <div class="col-sm-4 df pl0">
      <div class="bg-dark-blue-2 p pt+ f-1-0-auto">
        <div class="clearfix mb">
          <p class="h1 color-white mb+">12 Evaluation criteria</p>
          <a href="#" class="btn btn-outline color-white">Edit</a>
        </div>
          <% for i in 0..6 do %>
              
              <div class="clearfix">
                <span class="label label-primary mr- mb- pull-left">
                  <i class="ionicons ion-pricetag color-blue-3 mr- font-14 pull-left"></i>
                  <span class="label__text">Ease of door closing</span>
                </span>
                <div class="color-blue text-condensed font-14 mt- pull-left"><i class="ionicons ion-android-done"></i></div>
              </div>

              <div class="clearfix">
                <span class="label label-primary mr- mb- pull-left">
                  <i class="ionicons ion-pricetag color-blue-3 mr- font-14 pull-left"></i>
                  <span class="label__text">Ease of unlatching from full latch</span>
                </span>
                <div class="color-blue text-condensed font-14 mt- pull-left"><i class="ionicons ion-android-done"></i></div>
              </div>

              <div class="clearfix">
                <span class="label label-primary mr- mb- pull-left">
                  <i class="ionicons ion-pricetag color-blue-3 mr- font-14 pull-left"></i>
                  <span class="label__text">2nd pawl</span>
                </span>
                <div class="color-blue text-condensed font-14 mt- pull-left"><i class="ionicons ion-android-done"></i></div>
              </div>

          <% end %>
      </div>
    </div>
  </div>
</div>



<%= partial "partials/action-bar", :locals => { :text => "Last modified on 03/12/2017 à 12:17,",:text2 => "Par Denis C. - INSA", :link => "transition-7.html", :link_back => "analysis-5.html" } %>