<%= partial "partials/second-nav" %>

<div class="container mt mb+">
    <div class="row">
      <div class="col-sm-9">
        <ul class="breadcrumbs">
          <li>Sélection</li>
          <li>Categorizarion</li>
          <li>Extraction</li>
          <li>Contradictions</li>
          <li class="active">Business Drivers</li>
          <li class="next">Evaluation criteria</li>
          <li class="next">Evaluation</li>
        </ul>
      </div>
      <div class="col-sm-3">
          <%= partial "partials/progress", :locals => { :percentage => "60", :step_name => "Patent analysis" } %>
      </div>
  </div>
</div>

<div class="container mb+ pb+">

    <div class="card p mb">
        <div class="row mb">
          <div class="col-sm-10">
            <input type="search" name="" id="input" class="form-control search-input" value="Keywords, patent number"  title="">
          </div>
          <a href="#" class="btn btn-primary col-sm-2"><i class="ionicons ion-ios-search-strong search-icon"></i>Search</a>
        </div>
        <ul class="list-inline">
          <li><a href="">International <i class="fa fa-angle-down"></i></a></li>
          <li><a href="">All fields <i class="fa fa-angle-down"></i></a></li>
          <li><a href="">All content <i class="fa fa-angle-down"></i></a></li>
          <li><a href="">Any date <i class="fa fa-angle-down"></i></a></li>
          <li><a href="">Sort by relevancy <i class="fa fa-angle-down"></i></a></li>
        </ul>
    </div>

  <div class="row df">
    <div class="col-sm-8 pr0">
          <div class="df card card--separator pl pr pt- pb-">
                <div class="card__file">
                  <span></span>
                  <i class="fa fa-file-text-o color-grey fa-2"></i>
                </div>
                <div class="p">
                  
                  <h3 class="text-bold h4 mb color-blue-dark">Electric power assisted door lock</h3>
                  
                  <p class="mb">With the door closed, the bolt-plate (2) notch (9) retains the door-jamb hasp bar (11,13), since the catch (3) prevents the forces opposed by the return spring (14) and compressed peripheral door seal (16) from rotating (F3)…</p>
                
                  <div class="clearfix">
                    <p class="text-uppercase color-grey-light font-14 pull-left">DUPONT PATRICK [FR]; JACQUINET PHILIPPE [FR] <br> + VALEO SECURITE HABITACLE</p>
                      
                      <span class="added pull-right"><span class="added__check"><i class="ionicons ion-android-done"></i></span>Added</span>
                  </div>
                </div>
              </div>
          <% for i in 0..2 do %>
              <div class="df card card--separator pl pr pt- pb-">
                <div class="card__file" style="background-image: url(images/plan.png);">
                  <span></span>
                  <i class="fa fa-file-text-o color-grey fa-2"></i>
                </div>
                <div class="p">
                  
                  <h3 class="text-bold h4 mb color-blue-dark">Electric power assisted door lock</h3>
                  
                  <p class="mb">With the door closed, the bolt-plate (2) notch (9) retains the door-jamb hasp bar (11,13), since the catch (3) prevents the forces opposed by the return spring (14) and compressed peripheral door seal (16) from rotating (F3)…</p>
                
                  <div class="clearfix">
                    <p class="text-uppercase color-grey-light font-14 pull-left">DUPONT PATRICK [FR]; JACQUINET PHILIPPE [FR] <br> + VALEO SECURITE HABITACLE</p>
                      
                      <a href="#" class="btn btn--plus pull-right">Add</a>
                  </div>
                  </div>
              </div>
          <% end %>

          <% for i in 0..2 do %>
              <div class="df card card--separator pl pr pt- pb-">
                <div class="card__file">
                  <span></span>
                  <i class="fa fa-file-text-o color-grey fa-2"></i>
                </div>
                <div class="p">
                  
                  <h3 class="text-bold h4 mb color-blue-dark">Electric power assisted door lock</h3>
                  
                  <p class="mb">With the door closed, the bolt-plate (2) notch (9) retains the door-jamb hasp bar (11,13), since the catch (3) prevents the forces opposed by the return spring (14) and compressed peripheral door seal (16) from rotating (F3)…</p>
                
                  <div class="clearfix">
                    <p class="text-uppercase color-grey-light font-14 pull-left">DUPONT PATRICK [FR]; JACQUINET PHILIPPE [FR] <br> + VALEO SECURITE HABITACLE</p>
                      
                      <a href="#" class="btn btn--plus pull-right">Add</a>
                  </div>

                  </div>
              </div>
          <% end %>
    </div>
    <div class="col-sm-4 df pl0">
      <div class="bg-dark-blue-2">
          
         <div class="p">
            <input id="patents-meter" />
           
           <div class="number-of-patents">
             <p class="number-of-patents__number">3</p>
             <p>more patents for an <br>
               optimal selection</p>
           </div>
           
           <h2 class="h1 color-green text-condensed mb">27 Selected patents</h2>
         </div>

          <% for i in 1..9 do %>
            <div class="patent" style="background: rgba(0,162,151, 0.<%=i*10%>); ">

                <i class="fa fa-file-text-o fa-2 pull-left mr"></i>
                <p>Positive retraction latch locking dog for a rotating control …</p>
                <i class="ionicons ion-close"></i>

            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>



<%= partial "partials/action-bar", :locals => { :text => "Last modified on 03/12/2017 à 12:17,",:text2 => "Par Denis C. - INSA", :link => "transition-2.html", :link_back => "analysis.html" } %>