<div class="panel panel-default p-">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <p class="text-left"><strong>Selection > Categorizarion > Connection PBSOL > Contradictions > Business Drivers > Evaluation criteria > Evaluation</strong></p>
        <p class="text-left">Evaluate the importance of each criteria in every business driver</p>
      </div>
      <div class="col-sm-4">
          Progress <br>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
              90% Complete
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="container">

    <% for i in 1..2 do %>
    <div class="bg-black p mb">
        <div class="clearfix mb">
            <p class="color-white">ARM</p>
        </div>
      
        <% for i in 0..4 do %>
          <div class="panel bg-grey mb- p">
              <div class="clearfix">
                <p class="pull-left color-white">Parametre d'evaluation</p>
                          
                <div class="pull-right">
                  State of the art
                  <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default">Worst</button>
                    <button type="button" class="btn btn-default">Equivalent</button>
                    <button type="button" class="btn btn-default">Better</button>
                  </div>

                </div>
              </div>
          </div>
        <% end %>
          
    </div>

    <% end %>
</div>



<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="pull-left">
    <i class="fa fa-arrow-left"></i>
    <%= link_to("Back", "transition.html") %>
  </div>
  <div class="pull-right">
    Last modified on 03/12/2017 at 12:17,
    By Denis C. - INSA
      <%= link_to("Continue", "transition-7.html", class:"btn btn-primary btn-lg") %></div>
</nav>