<div class="panel panel-default p">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <p class="text-left mb-"><strong>Selection > Categorizarion > Connection PBSOL > Contradictions > Business Drivers ></strong> Evaluation criteria > Evaluation</p>
        <p class="text-left">
          Select a variety of relevant patents for the project
        </p>
      </div>
      <div class="col-sm-4">
          Progress <br>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
              60% Complete
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="clearfix mb">
        <div class="pull-left">
          12 business drivers
        </div>
        <div class="pull-right">
          <a href="#" class="btn btn-default">Edit</a>
        </div>
      </div>
      
      <a href="#" class="btn btn-success btn-lg btn-block mb">Add a business driver</a>

      <% for i in 0..4 do %>
        <div class="panel bg-grey mb- p">
            <div class="clearfix">
              <div class="pull-left">Operating effort</div>
              
              <div class="pull-right">
                <input class="slider" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14"/>
              </div>
            </div>
          
        </div>
      <% end %>

    </div>
    <div class="col-sm-4">
      <div class="bg-black p">
          
        <canvas id="myChart" width="400" height="400"></canvas>

        <div class="color-white mt">
            <p>Your distribution</p>
            <ul>
              <li>Operating effort : 7%</li>
              <li>Noise : 7%</li>
              <li>Product cost : 7%</li>
              <li>Fail Safe : 7%</li>
              <li>Space Roominess : 7%</li>
            </ul>
        </div>
          
      </div>
    </div>
  </div>
</div>



<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="pull-left">
    <i class="fa fa-arrow-left"></i>
    <%= link_to("Back", "transition.html") %>
  </div>
  <div class="pull-right">
    Last modified on 03/12/2017 at 12:17,
    By Denis C. - INSA
      <%= link_to("Continue", "transition-5.html", class:"btn btn-primary btn-lg") %></div>
</nav>