---
menu_title: E-Latch
---



<%= partial "partials/second-nav" %>


<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <p class="text-left text-italic color-grey text-light mt">Please enter your project name and its description. You could also add other information like te starting date and the ending date. Adding members to the projects is also possible.</p>
    </div>
    <div class="col-sm-4">
        <%= partial "partials/progress", :locals => { :percentage => "10", :step_name => "Patent analysis" } %>
    </div>
  </div>
</div>

<div class="container mt+ pb+ mb+">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <form action="" method="POST" role="form">
        <legend class="color-grey text-bold">Your new SUN Diagram</legend>

        <div class="card p mb">
          <div class="input-wrap js-float-label-wrapper">
            <label for="">SUN Diagram name</label>
            <input type="text" name="id" id="id" class="form-control">
          </div>
        </div>

        <div class="card p mb">
          <div class="input-wrap js-float-label-wrapper">
            <label for="">Description</label>
            <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
          </div>
        </div>
      
        
        <div class="card p mb">
          <div class="row">
            <div class="col-xs-6">
                <div class="input-group date" data-provide="datepicker">
                    <input type="text" class="form-control" placeholder="Start date">
                    <div class="input-group-addon p0">
                      <i class="ionicons ion-chevron-down"></i>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="input-group date" data-provide="datepicker">
                    <input type="text" class="form-control" placeholder="End date">
                    <div class="input-group-addon p0">
                      <i class="ionicons ion-chevron-down"></i>
                    </div>
                </div>
            </div>
          </div>
        </div>
        
        <div class="card clearfix mb p">
          <p class="color-grey-light font-14 mb">Members</p>
          <% for i in 1..3 do %>
          <div class="clearfix mb">
            <%= image_tag "images/face-#{i}.jpg", class:"img-circle pull-left mr", width:"45" %>
            <div class="clearfix mt-">
              <p class="pull-left color-grey">Denis Cavallucci</p>
              <a href="#" class="pull-right  color-grey-light"><i class="ionicons ion-close"></i></a>
            </div>
          </div>
          <% end %>
          <a href="#" class="btn btn--plus mt">Add a member</a>
        </div>

        <div class="card clearfix mb p">
          <p class="color-grey-light font-14 mb">Files &amp; usefull links</p>
          <% for i in 0..2 do %>
          <div class="clearfix mb">
            <i class="ionicons ion-document pull-left mr icon-circle"></i>
            <div class="clearfix mt-">
              <p class="pull-left color-grey">Rapport_20129282.docx</p>
              <div class="pull-right list-inline">
                <li>
                  <a href="#" class="color-grey-light"><i class="ionicons ion-eye font-18"></i></a>
                </li>
                <li>
                  <a href="#" class="color-grey-light"><i class="ionicons ion-close"></i></a>
                </li>
              </div>
            </div>
          </div>
          <% end %>
          <a href="#" class="btn btn--plus mt">Add a member</a>
        </div>
          
      </form>
    </div>
  </div>
</div><!-- container -->

<%= partial "partials/action-bar", :locals => { :text => "Last modified on 03/12/2017 à 12:17,",:text2 => "Par Denis C. - INSA", :link => "transition-1.html", :link_back => "index.html" } %>

