<%= partial "partials/second-nav" %>

<div class="row no-gutter bg-dark-blue-2 df">

    <div class="col-sm-8">
      <div class="sun-diagram__frame">
        <%= image_tag("sun-diagram.svg", class:"js-panzoom") %>
      </div>
      
    </div>


    <div class="col-sm-4">

      <div class="p+ sun-diagram__column">
          
          <p class="h1 color-white mb">Ranking</p>

          <ul class="rankings">
            <li class="rankings__1">TC1</li>
            <li class="rankings__4">TC4</li>
            <li class="rankings__3">TC3</li>
            <li class="rankings__2">TC2</li>
            <li class="rankings__5">TC5</li>
          </ul>


          <div class="list-inline">
            <li>
              <a href="#" class="sun-diagram__zoom-out js-zoom-out">
                <i class="ionicons ion-minus"></i>
              </a>
            </li>
            <li>
              <input type="range" class="sun-diagram__zoom-range js-zoom-range">
            </li>
            <li>
              <a href="#" class="sun-diagram__zoom-in js-zoom-in">
                <i class="ionicons ion-plus"></i>
              </a>
            </li>
            <li>
              <a href="#" class="sun-diagram__reset js-reset">
                <i class="ionicons ion-android-refresh"></i>
              </a>
            </li>
          </div>
          <div class="sun-diagram__mini-map js-panzoom-2">
              <div class="rectangle"></div>

              
          </div>
      </div>

    </div>
</div>



<%= partial "partials/action-bar", :locals => { :text => "Last modified on 03/12/2017 à 12:17,",:text2 => "Par Denis C. - INSA", :link => "export.html", :link_back => "analysis-8.html" } %>

<%= partial "partials/javascripts" %>

<script>
  
    $(function() {
      
      var $section = $('body');
      $section.find('.js-panzoom').panzoom({
        $zoomIn: $section.find(".js-zoom-in"),
        $zoomOut: $section.find(".js-zoom-out"),
        $zoomRange: $section.find(".js-zoom-range"),
        $reset: $section.find(".js-reset"),
        startTransform: 'scale(1)',
        increment: 0.1,
        minScale: 1,

        contain: 'automatic'
      }).panzoom('zoom');
      

      var frameHeight = $(".sun-diagram__frame").height(),
      frameWidth = $(".sun-diagram__frame").width(),
      rectangleLeftPos =  $(".rectangle").css("left");

      console.log(rectangleLeftPos);

      $( ".rectangle" ).draggable({
          containment: ".sun-diagram__mini-map",
          drag: function(event, ui) {
                var pos = ui.position;
                console.log(pos.left-150 + " " + pos.top);

                var $section = $('body');
                $section.find('.js-panzoom').panzoom("pan", -pos.left-150, -pos.top);
            }
      });      
    });

</script>