  <div class="container mt">
    <div class="row">
      <div class="col-sm-9">
        <ul class="breadcrumbs">
          <li>Sélection</li>
          <li>Categorizarion</li>
          <li>Extraction</li>
          <li>Contradictions</li>
          <li class="active">Business Drivers</li>
          <li class="next">Evaluation criteria</li>
          <li class="next">Evaluation</li>
        </ul>
      </div>
      <div class="col-sm-3">
          <%= partial "partials/progress", :locals => { :percentage => "10", :step_name => "Patent analysis" } %>
      </div>
  </div>
  </div>


<div class="padded"><%= partial "partials/loading" %></div>


<%= partial "partials/action-bar", :locals => { :text => "Saving...",:text2 => "Par Denis C. - INSA", :link => "analysis.html", :link_back => "transition-1.html" } %>
