  <div class="container mt">
    <div class="row">
      <div class="col-sm-9">
        <ul class="breadcrumbs">
          <li>Sélection</li>
          <li>Categorizarion</li>
          <li>Extraction</li>
          <li>Contradictions</li>
          <li class="active">Business Drivers</li>
          <li class="next">Evaluation criteria</li>
          <li class="next">Evaluation</li>
        </ul>
      </div>
      <div class="col-sm-3">
          <%= partial "partials/progress", :locals => { :percentage => "20", :step_name => "Patent analysis" } %>
      </div>
  </div>
  </div>

<div class="text-center padded"><%= image_tag "transition.png", width:"230" %></div>


<%= partial "partials/action-bar", :locals => { :text => "Saving...",:text2 => "Par Denis C. - INSA", :link => "analysis-6.html", :link_back => "analysis-5.html" } %>