  <div class="container mt">
    <div class="row">
      <div class="col-sm-9">

      </div>
      <div class="col-sm-3">
          <%= partial "partials/progress", :locals => { :percentage => "10", :step_name => "Patent analysis" } %>
      </div>
  </div>
  </div>


<div class="padded"><%= partial "partials/loading" %></div>


<%= partial "partials/action-bar", :locals => { :text => "Saving...",:text2 => "Par Denis C. - INSA", :link => "analysis.html", :link_back => "definition.html" } %>



<%= partial "partials/javascripts" %>

<script>
  $(".js-btn-loading").html("Please wait...").addClass("btn-outline color-white").removeClass("bg-white color-blue-2");


  // simulation:

  setTimeout(function(){
    $(".js-btn-loading").html("Continue").addClass("bg-white color-blue-2").removeClass("btn-outline color-white");
  }, 3000);


  setTimeout(function(){
    var url = $(".js-btn-loading").attr('href');
    window.location.href = url;
  }, 3500);

</script>
