  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        
      </div>
      <div class="col-sm-4">
          Progress <br>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
              <span>40% Complete</span>
            </div>
          </div>
      </div>
    </div>
  </div>

<div class="text-center padded"><%= image_tag "pixseb-logo.jpeg", width:"300" %></div>


<nav class="navbar navbar-default navbar-fixed-bottom">
	<div class="pull-right">
		Saving…
		By Denis C. - INSA
		  <%= link_to("Please wait...", "analysis-4.html", class:"btn btn-primary btn-lg") %></div>
</nav>