  <div class="container mt">
    <div class="row">
      <div class="col-sm-9">
        <ul class="breadcrumbs">
          <li>Sélection</li>
          <li>Categorizarion</li>
          <li>Extraction</li>
          <li class="active">Contradictions</li>
          <li class="next">Business Drivers</li>
          <li class="next">Evaluation criteria</li>
          <li class="next">Evaluation</li>
        </ul>
      </div>
      <div class="col-sm-3">
          <%= partial "partials/progress", :locals => { :percentage => "50", :step_name => "Patent analysis" } %>
      </div>
  </div>
  </div>

<div class="padded"><%= partial "partials/loading" %></div>


<%= partial "partials/action-bar", :locals => { :text => "Saving...",:text2 => "Par Denis C. - INSA", :link => "analysis-5.html", :link_back => "analysis-4.html" } %>

<%= partial "partials/javascripts" %>

<script>
$(".js-btn-loading").html("Please wait...").addClass("btn-outline color-white").removeClass("bg-white color-blue-2");
  setTimeout(function(){
    $(".js-btn-loading").html("Continue").addClass("bg-white color-blue-2").removeClass("btn-outline color-white");
  }, 3000);

  setTimeout(function(){
    var url = $(".js-btn-loading").attr('href');
    window.location.href = url;
  }, 3500);
</script>
